<div class="footer-container black-background">
	<div class="container">
  		<div class="col-one">
  		<h4>ANNIVERSARY COMMITTEES</h4>
        <ul>
          <li>50<sup>th</sup> Anniversary Leadership Committee: <a href="/committees/">View Members »</a></li>
          <li>Campus Coordinating Committee: <a href="/committees/campus/">View Members »</a></li>
        </ul>
  		</div>
  		<div class="col-two">
  		<h4>RESOURCES</h4>
  		<ul>
        <li>Contact Us: <a href="mailto:50years@ucsc.edu">50years@ucsc.edu</a></li>
  			<li>Images Courtesy of <a href="http://library.ucsc.edu/speccoll/collections-and-archives">UC Santa Cruz Special Collections</a></li>
  			<li><a href="/presskit/">Press Kit</a></li>
  			<li><a href="http://www.ucsc.edu/identity/fiftieth/index.html">Tool Kit</a></li>
        <li><a href="http://www.ucsc.edu/feedback/index.html">Feedback</a></li>
  		</ul>
  		</div>
  		<div class="col-three">
  		<h4>Support Us</h4>
          <p>Your gift to UC Santa Cruz helps to support outstanding students and our nationally recognized programs. Learn more and give today.</p>
          <ul>
            <li><a href="http://giving.ucsc.edu/index.html">Giving to UC Santa Cruz</a></li>
            <li><a href="http://campaign.ucsc.edu/">The Campaign for UC Santa Cruz</a></li>
          </ul>
  		</div>
	</div>
  <div class="clear"></div>
<p class="copy-rights">UC SANTA CRUZ, 1156 HIGH STREET, SANTA CRUZ, CA 95064<br />
&copy;2015 REGENTS OF THE UNIVERSITY OF CALIFORNIA. ALL RIGHTS RESERVED.<p>
<p class="copy-rights"><a href="http://its.ucsc.edu/terms/">PRIVACY POLICY AND TERMS OF USE</a></p>

</div>